---
import Layout from '~/layouts/PageLayout.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
// import Brands from '~/components/widgets/Brands.astro';
// import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: "Jake Hartigan Design | Let's Make Things",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    tagline="Web Design & Management"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Check availability',
        href: 'https://calendar.app.google/FiWwHQAmXENTquhHA',
        icon: 'tabler:arrow-right',
      },
      { text: 'DIY Design Newsletter', href: '#features' },
    ]}
    image={{
      src: '/assets/pink-portal.webp',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title"> WEBSITES THAT CONVERT YOUR AUDIENCE TO CUSTOMERS</Fragment>

    <Fragment slot="subtitle">
      Make it easy for clients to come to you. Let’s chat about your sales funnel. Book a meeting below to get started.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-dark linear-purple-gradient"></div>
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Benefits"
    title="Web Design Services"
    items={[
      {
        title: 'Automatically Convert',
        description: 'We create webpages and forms to automatically convert your website visitors into clients.',
      },
      {
        title: 'Rapid Design and Development',
        description: 'If you’re on a deadline, we can rapidly design and develop your website.',
      },
      {
        title: 'Internal SEO',
        description:
          'Our websites are unmatched in speed making it easier to show on search engines like Google or Bing.',
      },
    ]}
    image={{
      src: '/assets/purple-magnet.webp',
      alt: 'Magnet Image',
      class: 'mix-blend-screen',
    }}
  >
    <Fragment slot="content"> Magnetize your audience easily </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Tailored Designs',
        description: `Your website will mirror your company's value. Our design team will seamlessly integrate the look and feel of your company to make it recognizable to your loyal audience.`,
      },
      {
        title: 'Out Class Your Competitors',
        description:
          'Customers can see the difference. Looking good is not just a luxury, it’s a business decision with a dramatic ROI.',
      },
      {
        title: 'Unique Approach',
        description:
          'During our design process we want to get to know your story, so that we can build something unique to you.',
      },
    ]}
    image={{
      src: '/assets/purple-cube.webp',
      alt: 'Magnet Image',
      class: 'mix-blend-screen',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-dark linear-purple-gradient"></div>
    </Fragment>
    <Fragment slot=""> </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features2
    tagline="What We Do"
    title="Services We Offer"
    subtitle="We specialize in web design and branding services for content creators on X (Twitter)."
    items={[
      {
        title: 'Branding',
        description: 'How your brand looks has a dramatic effect on whether or not your business sells too.',
        icon: 'tabler:brush',
      },
      {
        title: 'Web Design',
        description: 'Our websites puts you on the map! Not just a side street, main street',
        icon: 'tabler:device-imac',
      },
      {
        title: 'SEO',
        description: 'Optimizing your website for search makes finding customers a breeze.',
        icon: 'tabler:world-search',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:radial-purple-gradient"></div>
    </Fragment>
  </Features2>

  <!-- Testimonials Widget *********** -->
  <!-- 
  <Testimonials
    title="Words from real customers"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="We've been doing this a while and know what you might be thinking."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'How long does it take?',
        description:
          'It can depend on the scope of work. However, for a minimal starter site we’re able to design, build, and launch a website within 2 weeks. To get a quote follow the link below.',
      },
      {
        title: 'What do I need to start?',
        description:
          "Before getting a website you should already have a brand identity. </br></br> A logo, colors, typography, and Imagery are the bare minimum. If you don't have those ready we offer branding services to help get you started. Follow the link below to get started.",
      },
      {
        title: 'Do I really need a website?',
        description:
          'If you want customers to trust you, then yes.</br> If you want customers to reach you anywhere in the world with an internet connection, then yes.</br> If you only work in person... but still want people to know your a successful business, then yes.</br> If you want customers to second guess your authority, not find you easily, and only do out bound sales or juggling multiple sales funnels.. then no',
      },
      {
        title: 'How much does it cost?',
        description:
          'While we’ve been able to build website’s for as little as $500, the reality is that some businesses require far more complex solutions. These complex websites can range in price from $4,800 to upwards of $120,00. </br></br>Regardless of your budget we want to hear your ideas and offer you a quote. Click the link below to get started.',
      },
    ]}
  />

  <!-- Brands Widget ****************** -->
  <!-- Note: should add all the logos from the webflow site to this section -->

  <!-- 
  <Brands
    title="Partnerships & Collaborations"
    subtitle="At Astrowind, we believe in the power of collaboration to drive innovation and create exceptional experiences."
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get A Quote',
        href: 'https://docs.google.com/forms/d/e/1FAIpQLSebb8LmUDaBLKi8sCxHvpFPAaVPp71DKZXqbQtqnFFAmhgQLQ/viewform?usp=sf_link',
        target: '_blank',
        icon: 'tabler:arrow-right',
      },
    ]}
  >
    <Fragment slot="title"> Want a price estimate? </Fragment>

    <Fragment slot="subtitle">
      We've made it easy to get a straightforward quote. Fill out the brief form and we'll have a customized project
      price for you shortly.
    </Fragment>
  </CallToAction>
</Layout>
